<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3>Favourite Books List </h3>
          <!-- ------------------------ -->
          <!-- FIX THE ADD BUTTON BELOW -->
          <!-- ------------------------ -->
          <a href="/books/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a book</a>
          <br>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th class="text-center">Price</th>
                  <th class="text-center">Author</th>
                  <th class="text-center">Genre</th>
                  <th class="text-center">Description</th>
                  <th class="text-center">Edit</th>
                  <th class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <!-- Template Row -->
                <% for (let i = 0; i < books.length; i++) { %>
                <tr>
                  <td><%= books[i].title %></td>
                  <td class="text-center">$<%= books[i].price %></td>
                  <td class="text-center"><%= books[i].author %></td>
                  <td class="text-center"><%= books[i].genre %></td>
                  <td class="text-center"><%= books[i].description %></td>
                  <td class="text-center">
                    <a href="/books/<%= books[i].title %>" class="btn btn-primary btn-sm">Edit</a>
                  </td>

                  <td class="text-center">
                    <button myAttr="/books/<%= books[i].title %>" class="btn btn-warning btn-sm delBtn">Delete</button>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>

<section>
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script>
      window.onload = () => {
        //DELETE: delete button to send ajax
        $.each($('.delBtn'), (index,value) => {
          $(value).click(()=>{
            if(confirm('Are you sure?')){
              let url = $(value).attr('myAttr')
            $.ajax({
              url:url,
              type:'delete',
              success: (data) => {
                if(data==='1'){
                  //delete successfully
                  alert("delete successfully")
                  window.location = '/books'
                }else if(data==='-1'){
                  //server error
                  alert("server error, please try again")
                }else if(data==='0'){
                  //delete failed
                  alert("cannot find this book in booklist")
                }
              }
            })
            }
          })
        })
      }
    </script>
</section>

<% include ../partials/footer.ejs %>


